<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Not Found - Watchdog</title>

    <link rel="stylesheet" type="text/css" href="3rdParty/semantic.min.css" />
    <style type="text/css">
      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      main {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      header {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <header class="ui very padded basic container segment">
        <h1 class="ui header">Not Found</h1>
      </header>
    </main>
    <footer class="ui container">
      <div class="ui very padded center aligned basic segment">
        <div class="ui horizontal link list">
          <a href="https://dotStart.github.io/Watchdog" class="item">Powered by Watchdog</a>
        </div>
      </div>
    </footer>
  </body>
</html>
